# ---- System junk ----
.DS_Store
*.pdf

# ---- Terraform ----
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# ---- Go ----
bin/
vendor/

# ---- Secrets & Environment ----
.env
*.pem
*.key
